@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
/* 
@layer base {
  :root {
    /* Light color scheme */
/* 
    --color-bkg: 255, 255, 255;
    --color-content: 0, 0, 0;
  }

  /* Dark color scheme */
/* 
  @media (prefer-color-scheme: dark) {
    :root {
      --color-bkg: 13, 36, 56;
      --color-content: 16, 45, 68;
    }
  }
  :root [data-theme="dark"] {
    --color-bkg: 16, 45, 68;
    --color-content: 0, 0, 0;
  }
}
 */

h1 {
  font-size: 2.5rem;
  font-weight: 300;
  font-family: "Azeret Mono", monospace;
}

h2 {
  font-weight: 100;
  font-size: 1.4rem;
  font-family: "Azeret Mono", monospace;
}

h3 {
  font-weight: 600;
  font-size: 1.1rem;
  font-family: "Azeret Mono", monospace;
}

p {
  font-size: 1.2rem;
  font-family: "Azeret Mono", monospace;
}

body {
  background-color: #f6f3e9;
  font-family: "Azeret Mono", monospace;
}

a {
  font-family: "Azeret Mono", monospace;
}

button {
  font-family: "Azeret Mono", monospace;
}
